[
    "ええ",
    "回",
    "言う",
    "ない",
    "分",
    "晴れる",
    "それ",
    "先生",
    "度",
    "堀",
    "あ",
    "ん",
    "全然",
    "車",
    "本当",
    "見る",
    "お腹",
    "雪",
    "ちゃん",
    "卵",
    "乗る",
    "止める",
    "バカ",
    "ドア",
    "ピアス",
    "好き",
    "い",
    "カーテン",
    "あー",
    "じゃあ",
    "時計",
    "目覚まし",
    "そんな",
    "気温",
    "温かい",
    "何",
    "皆",
    "着る",
    "なる",
    "顔",
    "習慣",
    "消す",
    "物",
    "えー",
    "え",
    "大丈夫",
    "毎朝",
    "注ぐ",
    "二",
    "雨",
    "寝",
    "天気",
    "どう",
    "分かる",
    "起きる",
    "自分",
    "えっ",
    "朝ご飯",
    "明日",
    "帰る",
    "君",
    "火",
    "仲よく",
    "嘘",
    "いい",
    "特に",
    "兄",
    "予定",
    "机",
    "プール",
    "えっと",
    "そう",
    "朝",
    "持つ",
    "頑張る",
    "寝る",
    "寒い",
    "暑い",
    "開ける",
    "読む",
    "あれ",
    "エンジン",
    "違う",
    "学校",
    "飲む",
    "体育",
    "よし",
    "国",
    "話す",
    "今",
    "干す",
    "食べる",
    "誰",
    "乾かす",
    "これ",
    "閉じる",
    "靴",
    "ありがとう",
    "出発",
    "ビデオ",
    "姉",
    "人",
    "終わる",
    "もう",
    "右側",
    "新しい",
    "髪の毛",
    "あんな",
    "思う",
    "別",
    "お前",
    "行く",
    "あっ",
    "入れる",
    "石川",
    "ああ",
    "洗濯",
    "湯",
    "本",
    "マジ",
    "さん",
    "あの",
    "私",
    "今日",
    "釣り合う",
    "沸かす",
    "カフェ",
    "こと",
    "後",
    "よう",
    "最近",
    "時間",
    "ごめん",
    "お",
    "俺",
    "普段",
    "家",
    "気",
    "編集",
    "少し",
    "時",
    "オタク",
    "来る",
    "浴びる",
    "髪",
    "いや",
    "落とす",
    "外",
    "住む",
    "晴",
    "うん",
    "茶"
]
