[
    "ごめん",
    "ありがとう",
    "バカ",
    "堀",
    "あ",
    "ない",
    "そう",
    "さん",
    "お",
    "いい",
    "こと",
    "言う",
    "何",
    "俺",
    "ああ",
    "え",
    "行く",
    "なる",
    "石川",
    "私",
    "ちゃん",
    "思う",
    "君",
    "分かる",
    "どう",
    "うん",
    "えっ",
    "本当",
    "そんな",
    "あの",
    "あー",
    "これ",
    "もう",
    "見る",
    "時",
    "違う",
    "開ける",
    "人",
    "お前",
    "姉",
    "家",
    "いや",
    "それ",
    "好き",
    "卵",
    "誰",
    "先生",
    "気",
    "学校",
    "時間",
    "オタク",
    "ん",
    "あっ",
    "よう",
    "い",
    "えっと",
    "兄",
    "あれ",
    "少し",
    "別",
    "ピアス",
    "来る",
    "暑い",
    "釣り合う",
    "話す",
    "体育",
    "仲よく",
    "プール",
    "あんな",
    "持つ",
    "自分",
    "ええ",
    "帰る",
    "えー",
    "マジ",
    "大丈夫",
    "顔"
]
