unidic==1.1.0
black==25.1.0
ffmpeg-python==0.2.0
fugashi[unidic]==1.4.0
cutlet==0.5.0
Flask==3.1.0
requests==2.32.3
gunicorn==23.0.0
flask-socketio==5.5.1
eventlet==0.39.1
pylint==3.3.6
mecab-python3==1.0.10
pyyaml==6.0.2
mongoengine==0.29.1
pytest==8.3.5
pytest-env==1.1.5
testcontainers[mongodb]>=4.10.0
docker===7.1.0
ruff===0.15.11
