unidic==1.1.0
black==25.1.0
ffmpeg-python==0.2.0
fugashi[unidic]==1.4.0
cutlet==0.5.0
Flask==3.1.0
requests==2.32.3
gunicorn==23.0.0
flask-socketio==5.5.1
eventlet==0.39.1
pylint==3.3.6
mecab-python3==1.0.10
pyyaml==6.0.2
pymongo==4.12.0
mongoengine==0.29.1
pytest==8.3.5
